#page-logo a {
    color: rgb(183, 230, 235);
    padding: 10px;
    font-size: 50px;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px rg
  }
  
  header {
    font-family: "Oleo Script", sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    box-sizing: border-box;
  }
  
  header ul {
    display: flex;
  }
  
  header li {
    margin-left: 20px;
  }
  header a {
    color: rgb(183, 230, 235);
    text-decoration: none;
    font-size: 20px;
    padding: 12px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
  }
  
  header nav a:hover {
    background-color: rgb(183, 230, 235);
    color: rgb(59, 59, 59);
  }
  
  footer {
    background: linear-gradient(70deg, rgb(24, 24,24), rgb(25, 29, 29));
    padding: 36px 0;
  }
  
  footer ul {
    display: flex;
    justify-content: center;
    /* padding: 40px; */
  }
  
  footer li {
    width: 80px;
    height: 80px;
    margin: 0 50px;
  }
  
  footer img {
    width: 100%;
    height: 100%;
  }
/**** 240326 sjh sub section2 ****/
*{box-sizing: border-box;}
body{background: #555;}
.city_bot{display: flex; flex-wrap: wrap; max-width:100%; padding: 0 15px; width: 1240px; margin: 0 auto;}
.city_con{width: 49%; display: flex;background: #fff; border-radius:15px; overflow: hidden;}
.city_con:nth-child(2n){margin-left: 2%;}
.city_con:nth-child(n+3){margin-top: 2%;}
.city_img{width: 300px; max-width:45%}
.city_img img{width: 100%; height: 100%; object-fit: cover;}
.city_txt{width: calc(100% - 250px); padding: 20px 15px;}
.city_txt h4{font-size:24px; margin: 0 0 10px;}
.city_txt p{font-size:16px; line-height: 1.4; }
.city_link{text-align: right; }
.city_link a{color:#35e0d8; text-decoration: none; position: relative; padding-right:20px;}
.city_link a span{width: 15px; position: absolute; right: 0; height: 1px; background: #35e0d8; top: 50%; transform:translateY(-50%)}
.city_link a span:after{content:''; display: block; width: 3px;height: 3px; border:1px solid #35e0d8; border-width:1px 1px 0 0; position: absolute; right: 0; top: 50%; transform:translateY(-50%) rotate(45deg)}

/**** //240326 sjh sub section2 ****/

