#hero {
    height: 800px;
    background-image: url(../images/places/ocean.jpg);
    background-position: center;
    background-size: cover;
  }
  
  #box {
    width: 800px;
    text-align: center;
    background-color: rgba(15, 15, 15, 0.552);
    box-shadow: 2px 4px 8px gray;
    margin: 0 auto;
    padding: 50px 0;
    border-radius: 8px;
    position: relative;
    top: 200px;
  }
  
  #box h1 {
    font-size: 50px;
    color: white;
    font-weight: bold;
  }
  
  #box p {
    font-size: 24px;
    font-weight: 200;
    color: white;
    margin: 30px 0;
  }
  
  #box a {
    text-decoration: none;
    background-color: yellow;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: 700;
  }
  
  #box a:hover {
    background-color: rgb(238, 226, 14);
  }
#highlights {
    padding: 24px;
    background:  linear-gradient(0deg, rgb(227,255,253), rgb(202,243,240));
}

#highlights h2 {
    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    color: rgb(59,65,64);
    margin: 24px 0;
}

#destinations {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-bottom: 40px;
    width: 90%;
}

.destination {
    margin: 0 20px;
    text-transform: uppercase;
    width: 25%;
}

.destination p {
    text-align: center;
    font-size: 24px;
    margin: 20px 0;
    color: rgb(124,123,123);
}

.destination strong {
    color: rgb(0,160,117);
}
.destination img {
    height: 200px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
    box-shadow: 2px 4px 8px rgb(68,67,67);
}
